    <div class="ghx-intro-content ghx-open">
      <div class="aui-group ghx-content-open">
        <div class="aui-item">
          <h4 class="ghx-margin-none"><span class="ghx-iconfont ghx-iconfont-inactive aui-icon aui-icon-small aui-iconfont-help ghx-margin-right"></span>How to read this chart</h4>
          <p>Use the Test Chart to identify the number of issues in each status over time. If you see an increase in the number of issues in a particular status it may be a sign there is a bottleneck to be investigated.</p>
          <p><button class="aui-button aui-button-link js-chart-intro-toggle">Hide this information</button></p>
        </div>
        <div class="aui-item ghx-item-how"><div class="aui-group ghx-group-how"></div></div>
      </div>
    </div>
    