<div class="filter-widget">
  <p>Exclude: <input id="forecast-exclusion-filter" />
  <p>Sample start: <input id="forecast-sample-start-date" />
    <button id='filter-last-2-months' class='filter-shortcut' data-months=2>Last 2 months</Button>
    <button id='filter-last-4-months' class='filter-shortcut' data-months=4>Last 4 months</Button>
    <button id='filter-last-6-months' class='filter-shortcut' data-months=6>Last 6 months</Button>
  <p>Sample end: <input id="forecast-sample-end-date" />
</div>
