<div id='ghx-report'>
  <div id='ghx-view-modes'>
    <a id='plan' class='aui-button'>Plan</a>
    <a id='report' class='aui-button'>Report</a>
  </div>
  <section id='ghx-chart-panel'>
    <div>
      <div id='ghx-chart-message'>Message</div>
      <div id='ghx-chart-intro'>Intro</div>
      <div id='ghx-chart-header'>Header</div>
      <div id='ghx-chart-content'>Content</div>
    </div>
  </section>
</div>
