

<table class="aui">
  <tr>
    <th width="10%" class="ghx-nowrap ghx-minimal">Key</th>
    <th width="30%">Summary</th>
    <th width="22%">Started</th>
    <th width="22%">Completed</th>
    <th width="16%" class="ghx-right">Cycle Time</th>
  </tr>
</table>

<h1>Small Epics
  {{epic_list S}}
<h1>Medium Epics 
  {{epic_list M}}
<h1>Large Epics 
  {{epic_list L}}

