<table>
{{#each issues}}
  <tr>
    <td>
      <a href="/browse/{{key}}">
        {{key}}
      </a>
    </td>
    <td>
      {{summary}}
    </td>
    <td>
      {{date startedDate}}
    </td>
  </tr>
{{/each}}
</table>
