<div>
  <div id="time-chart">
  </div>
  <div id="forecast-inputs">
    <p>Backlog size: <input id="forecast-backlog-size" />
    <p>Exclude: <input id="forecast-exclusion-filter" />
    <p>Sample start: <input id="forecast-sample-start-date" />
    <p>Sample end: <input id="forecast-sample-end-date" />
  <div>
  <div id="forecast-output">
  </div>
</div>

