<div>
  <div id="time-chart">
  </div>
  <div id="forecast-inputs">
    Backlog size: <input id="forecast-backlog-size" />
    Exclude: <input id="forecast-exclusion-filter" />
  <div>
  <div id="forecast-output">
  </div>
</div>

