<div>
  <div id="forecast-filter">
  </div>
  <div id="time-chart">
  </div>
  <div id="forecast-inputs">
    <p>Start date: <input id="forecast-start-date" />
    <p>Backlog size: <input id="forecast-backlog-size-small" /> &times; S,
      <input id="forecast-backlog-size-medium" /> &times; M,
      <input id="forecast-backlog-size-large" /> &times; L
  <div>
  <div id="forecast-output">
  </div>
</div>

